.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 20px 125px 0 125px;
  /* border: 10px solid goldenrod; */
  /* height: 100vh; */
}

.entry-text-area {
  display: block;
}

.box {
  /* border: 5px solid red; */
  width: 50vw;
}

.journal-entry-date {
  font-size: 12px;
}

.journal-entry-content {
  font-size: 16px;
}

.journal-entry {
  margin: 10px 0 50px 0;
}

.App-link {
  color: #61dafb;
}
